/conf/*.local.conf
/conf/acl.auth.php
/conf/local.php
/conf/local.protected.php
/conf/users.auth.php
/conf/user*.css
/conf/user*.js
/conf/words.aspell
/conf/lang/*
/conf/plugin_lang/*
/conf/plugins.local.*
/conf/tpl/*
*.swp
*.bak
*.old
*~
*.DS_Store
*.iml
.idea/
# Eclipse IDE
.buildpath
.project
.settings/
# DokuWiki
/data/attic/*
/data/cache/*
/data/index/*
/data/locks/*
/data/media/*
/data/media_meta/*
/data/media_attic/*
/data/meta/*
/data/pages/*
/data/tmp/*
lib/images/*/local/*

# composer default ignores
composer.phar
/vendor
!/vendor/.htaccess

/Yurii/var
/Yurii/config/config.yaml
/Yurii/config-from-prod

#
# symfony Frankenstein
#
/symfony-app/.web-server-pid
/symfony-app/app/config/parameters.yml
/symfony-app/build/
/symfony-app/phpunit.xml
/symfony-app/var/*
!/symfony-app/var/cache
/symfony-app/var/cache/*
!/symfony-app/var/cache/.gitkeep
!/symfony-app/var/logs
/symfony-app/var/logs/*
!/symfony-app/var/logs/.gitkeep
!/symfony-app/var/sessions
/symfony-app/var/sessions/*
!/symfony-app/var/sessions/.gitkeep
!/symfony-app/var/SymfonyRequirements.php
/symfony-app/vendor/
/symfony-app/web/bundles/
