<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>
          <defaultDocument enabled="true">
             <files>
                <add value="doku.php" />
             </files>
          </defaultDocument>
    <rewrite>
    <rules>

    <rule name="rule 1C" stopProcessing="true">
    	<match url="^_media/(.*)" />
    	<action type="Rewrite" url="/lib/exe/fetch.php?media={R:1}" appendQueryString="true" />
    </rule>
    <rule name="rule 2C" stopProcessing="true">
    	<match url="^_detail/(.*)" />
    	<action type="Rewrite" url="/lib/exe/detail.php?media={R:1}" appendQueryString="true" />
    </rule>
    <rule name="rule 3C" stopProcessing="true">
    	<match url="^_export/([^/]+)/(.*)" />
    	<action type="Rewrite" url="/doku.php?do=export_{R:1}&amp;id={R:2}" appendQueryString="true" />
    </rule>
    <rule name="rule 4C" stopProcessing="true">
    	<match url="^$" />
    	<action type="Rewrite" url="/doku.php" />
              <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
    </rule>
    <rule name="rule 5C" stopProcessing="true">
    	<match url="(.*)" />
    	<action type="Rewrite" url="/doku.php?id={R:1}" appendQueryString="true" />
              <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              </conditions>
    </rule>
    <rule name="rule 6C">
    	<match url="^index.php$" />
    	<action type="Rewrite" url="/doku.php" />
    </rule>
    </rules>
    </rewrite>
        <security>
            <requestFiltering>
                <filteringRules>
                </filteringRules>
                <denyUrlSequences>
                    <add sequence="/data/" />
                    <add sequence="/conf/" />
                    <add sequence="/bin/" />
                    <add sequence="/inc/" />
                </denyUrlSequences>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>


